.item-dropdown {
    position: relative;
    display: block;
}

/*Sidebar title info*/
.item-dropdown h1, .item h1{
    color: #999999;
    text-align: center;
    /*transition-duration: 0.4s;*/
}
.item-dropdown h1:hover{
    color: #fff;
    border-right: 0.1rem red solid;
    cursor: pointer;
}

/*Sidebar dropdown info*/
.item-dropdown .dropdown {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    text-align: center;
}
.item-dropdown .dropdown a {
    color: black;
    padding: 0.75rem 1rem;
    text-decoration: none;
    display: block;
}
.item-dropdown .dropdown a:hover {
    background-color: #ddd;
}
.item-dropdown:hover .dropdown {
    display: block;
}



